// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


@import url("http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext")
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext")

=rb
	font-family: 'Roboto', sans-serif
	font-weight: 400
=rbm
	font-family: 'Roboto', sans-serif
	font-weight: 500
=rbb
	font-family: 'Roboto', sans-serif
	font-weight: 700
=rbc
	font-family: 'Roboto Condensed', sans-serif
	font-weight: 400
=rbcb
	font-family: 'Roboto Condensed', sans-serif
	font-weight: 700

// body
body
	+rb
	font-size: 14px 
	color: #272727
	line-height: 1.4
	min-width: 1200px
	overflow: auto
	a
		text-decoration: none
		+transition(all .1s linear)
		&:hover
			text-decoration: underline
// in
.in
	margin: 0 auto
	width: 1200px
	+clr
	+box
%in
	@extend .in

// ico
.ico
	display: inline-block
	&.ico_briefcase
		+s(ico-briefcase)
	&.ico_bulb
		+s(ico-bulb)
	&.ico_globe
		+s(ico-globe)
	&.ico_mark
		+s(ico-mark)
	&.ico_about
		+s(ico-about)
	&.ico_flag
		+s(ico-flag)
	&.ico_inf
		+s(ico-inf)
	&.ico_list
		+s(ico-list)
	&.ico_part-1
		+s(part-1)
		&:hover
			+s(part-1-hover)
	&.ico_part-2
		+s(part-2)
		&:hover
			+s(part-2-hover)
	&.ico_part-3
		+s(part-3)
		&:hover
			+s(part-3-hover)
	&.ico_part-4
		+s(part-4)
		&:hover
			+s(part-4-hover)
	&.ico_part-5
		+s(part-5)
		&:hover
			+s(part-5-hover)
	&.ico_part-6
		+s(part-6)
		&:hover
			+s(part-6-hover)
	&.ico_part-7
		+s(part-7)
		&:hover
			+s(part-7-hover)
	&.ico_part-8
		+s(part-8)
		&:hover
			+s(part-8-hover)
	&.ico_in
		+s(ico-in)
	&.ico_f
		+s(ico-f)
	&.ico_mail-big
		+s(ico-mail-big)
	&.ico_rocket
		+s(ico-rocket)
	&.ico_arr-right
		+s(ico-arr-right)
	&.ico_seminar-1
		+s(ico-seminar-1)
	&.ico_seminar-2
		+s(ico-seminar-2)
	&.ico_seminar-3
		+s(ico-seminar-3)
	&.ico_workshop
		+s(ico-workshop)

// btn
.btn
	position: relative
	padding: 9px 10px
	height: 34px
	min-width: 153px
	color: #fff
	text-align: center
	line-height: 1
	font-size: 14px
	+border-radius(10px)
	display: inline-block
	+transition(all .1s linear)
	+box
	&:hover
		text-decoration: none
	&:active
		top: -1px
	&.btn_red
		background-color: #931c18
		&:hover
			background: darken(#931c18, 6)
	&.btn_gray
		background-color: #464B55
		&:hover
			background: darken(#464B55, 6)
	&.btn_gray-dark
		padding: 15px 0
		height: 52px
		font-size: 20px
		line-height: 1
		text-align: center
		width: 100%
		background: #3f444c
		+border-radius(4px)
		+rbcb
		&:hover
			+opacity(.8)
		.ico
			margin-left: 5px
			vertical-align: middle

// out
.out
	min-height: 100%
	+box

// section
.section
	padding-top: 100px
	+box

// header 
.header
	position: fixed
	top: 0
	width: 100%
	font-size: 0
	+box-shadow(0 1px 3px rgba(0, 0, 0, 0.45))
	background: #fff
	z-index: 100
	.header__in
		position: relative
		@extend %in
		padding: 0 31px 0 336px
		height: 100px

// logo
.logo
	position: absolute
	top: 50%
	left: 28px
	margin-top: -30px
	+s(logo)

// menu
.menu
	float: left
	margin-top: 44px
	.menu__item
		margin-left: 25px
		display: inline-block
		&:first-child
			margin-left: 0
		a
			color: #282828
			text-transform: uppercase
			font-size: 18px
			letter-spacing: -0.2px
			line-height: 1
			+rbc

// callback
.callback
	float: right
	margin-top: 14px

// phone
.phone
	margin-bottom: 4px
	font-size: 20px
	text-align: center
	letter-spacing: -0.2px
	+rbcb

// breadcrumb
.breadcrumb
	position: relative
	margin: 0 40px 25px
	padding: 18px 0 16px
	font-size: 0
	border-bottom: 1px solid #dcdcdc
	+rbc
	&:before
		position: absolute
		content: ''
		left: 0
		right: 0
		bottom: -4px
		height: 1px
		background: #dcdcdc
	li
		font-size: 13px
		display: inline-block
		a
			color: #000
	span
		margin: 0 5px
		display: inline-block

// topic
.topic
	padding: 12px 0 35px
	background: url('../img/slider-img-1.png') no-repeat 50% 50%
	background-size: cover
	background-attachment: fixed
	.topic__in
		padding-left: 40px
		@extend %in
	.breadcrumb
		margin: 0
		padding: 0
		border: none
		color: #fff
		&:before
			display: none
		li a
			color: #fff
	h1
		color: #fff
		text-transform: uppercase
		+rbcb
		font-size: 36px


// slider
.slider
	min-height: 600px
	overflow: hidden
	background: url('../img/slider-img-1.png') no-repeat 50% 50%
	background-size: cover
	background-attachment: fixed
	.slider__item
		width: 100%
		height: 760px
		// &.slider__item_1
		// 	background: url('../img/slider-img-1.png') no-repeat 50% 50%
		// 	background-size: cover
		// 	background-attachment: fixed
		&.slider__item_2
			background: url('../img/slider-img-2.png') no-repeat 50% 50%
			background-size: cover
		&.slider__item_3
			background: url('../img/slider-img-3.png') no-repeat 50% 50%
			background-size: cover
	.slider__in
		margin: 110px auto 0
		width: 592px
	.slider__title
		padding: 0 7px 0 20px
		color: #F1F1F1
		font-size: 36px
		line-height: 1.2
		letter-spacing: -0.6px
		text-transform: uppercase
		+rbcb

// description
.description
	position: relative
	margin-top: 90px
	padding: 21px 20px 35px
	height: 175px
	background: url('../img/slider-text-bg.png') no-repeat 0 0
	+box
	.description__text
		padding-right: 70px
		font-size: 15px
		line-height: 1.2
		a
			color: #931C18
			font-weight: 700
			&:hover
				text-decoration: none
				color: darken(#931C18, 10)
	.photo
		position: absolute
		top: -83px
		right: -83px
		height: 165px
		width: 165px
		img
			max-width: none
			+translate(-50%, -50%)
	.description__bold
		margin-top: 10px
		color: #272727
		font-weight: 700
		font-style: italic
	.btn
		position: absolute
		bottom: -17px
		left: 50%
		margin-left: -78px
		z-index: 1

// photo
.photo
	height: 160px
	width: 160px
	overflow: hidden
	border: 5px solid rgba(#fff, .9)
	+border-radius(50%)
	+box
	img
		position: relative
		top: 50%
		left: 50%
		+translate(-50%, -50%)

// about
.about
	padding: 40px 0 80px
	.about__in
		@extend %in
	.about__col
		float: left
		margin-left: 64px
		width: 240px
		font-size: 13px
		line-height: 1.2
		&:first-child
			margin-left: 30px
	.about__ico
		height: 118px
		text-align: center
		line-height: 118px
		.ico
			vertical-align: middle

// content
.content
	&.content_mod
		h1
			margin: 0 0 30px 40px
			line-height: 1
	h1,
	h2
		text-transform: uppercase
		+rbcb
	h1
		margin: 0 0 40px
		font-size: 36px
	h2,
	h3
		margin-bottom: 10px
		line-height: 1.1
	h2
		font-size: 20px
	h3
		margin-top: 25px
		font-size: 18px
		+rbb
	a
		color: #931C18
	p
		margin-top: 10px
		&:first-child
			margin-top: 0
	table
		margin-bottom: 70px
		border: 1px solid #B9B9B9
		border-bottom: none
		tr
			&:nth-child(odd)
				background: #f1f1f1
		th, td
			line-height: 1.2
			+box 
		th
			padding: 26px 10px 20px 35px
			height: 66px
			color: #FFF
			text-align: left
			font-size: 18px
			background-color: #3F444C
			+rbcb
		td
			padding: 0 46px 0 35px
			min-height: 59px
			line-height: 59px
			font-size: 15px
			border-bottom: 1px solid #B9B9B9
			&:first-child
				border-right: 1px solid #B9B9B9 
			span, p, div
				line-height: 1.2
				vertical-align: middle
				display: inline-block                        
	.title-small
		color: #272727
	.content__in
		@extend %in
	.field
		img
			float: left
			margin-right: 40px
	.row
		&.row_mod
			ul,
			ol
				float: left
				width: 50%
		ul
			li
				&:before
					content: ''
		ol
			+counter(1)
		ul,
		ol
			li
				position: relative
				margin-top: 20px
				padding: 0 35px 0 65px
				color: #252525
				font-size: 16px
				+rbcb
				&:before
					position: absolute
					left: 0
					top: 50%
					margin-top: -14px
					height: 28px
					width: 36px
					color: #fff
					line-height: 28px
					text-align: center
					z-index: 1
					background: #941c19
				&:after
					position: absolute
					content: ''
					left: 0
					top: 50%
					margin-top: -14px
					height: 28px
					width: 43px
					background-color: rgba(148, 28, 25, 0.66)
				&:first-child
					margin-top: 0

	.form
		width: 642px
		display: inline-block

// row
.row
	margin: 50px 0
	padding: 0 5px 0 40px
	+clr

// field
.field
	margin: 50px 0
	+clr

// info-block
.info-block
	margin: 27px 0 75px
	padding: 65px 0
	color: #FFF
	text-align: center
	letter-spacing: -0.2px
	font-size: 18px
	background: url(../img/info-block-img.png) no-repeat 50% 50%
	background-size: cover
	background-attachment: fixed
	display: block
	+rbm
	.info-block__in
		margin: 0 auto
		width: 840px


// ico-block
.ico-block
	position: relative
	margin-right: 104px
	padding-right: 39px
	width: 202px
	height: 153px
	line-height: 153px
	text-align: center
	background-color: #5f646d
	vertical-align: top
	display: inline-block
	&:before
		position: absolute
		content: ''
		top: 0
		bottom: 0
		right: 0
		width: 39px
		background-color: #f1f1f1
	.ico
		vertical-align: middle

.ico-block-small
	width: 83px
	height: 83px
	line-height: 83px
	text-align: center
	background-color: #464b55
	vertical-align: top
	display: inline-block
	.ico
		vertical-align: middle

// workshops
.workshops
	padding: 50px 0 86px
	border-top: 1px solid #c7c7c7
	.workshops__in
		margin: 0 auto
		width: 1120px
	.workshops__title
		margin-bottom: 28px
		color: #b8b8b8
		font-size: 26px
		line-height: 1.2
		text-transform: uppercase
		+rbcb
		span
			display: block
			font-size: 20px

.workshop
	margin: 0 0 56px 30px
	position: relative
	padding: 20px
	width: 542px
	background-color: #f9f9f9
	+box-shadow(0 0 5px rgba(0, 0, 0, 0.52))
	+border-radius(4px)
	+box
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	.workshop__img
		float: left
		margin-right: 28px
		width: 192px
		height: 192px
		overflow: hidden
		+border-radius(50%)
		+box-shadow(inset 0 0 8px rgba(0, 0, 0, 0.9))
		img
			position: relative
			top: 50%
			left: 50%
			+translate(-50%, -50%)
	// .workshop__right
	// 	float: right
	.workshop__title
		margin-bottom: 22px
		font-size: 18px
		line-height: 1.2
		+rbcb
	.workshop__text
		font-size: 14px
		font-style: italic
	.workshop__btn
		position: absolute
		top: 100%
		left: 20px
		width: 189px
		height: 56px
		line-height: 56px
		color: #fff
		text-align: center
		font-size: 16px
		+border-radius(0  0 4px 4px)
		background-color: #7b7b7b
		+box-shadow(0 0 5px rgba(0, 0, 0, 0.52))
		+rbcb
		&:hover
			text-decoration: none
			background-color: darken(#7b7b7b, 7)
		.ico
			margin-left: 5px
			vertical-align: middle

// form
.form
	&.form_gray
		position: relative
		padding: 62px 0 40px
		width: 100%
		display: block
		background: #f9f9f9
		.title-gray
			position: absolute
			padding: 0 60px
			top: -27px
			left: 50%
			+translate(-50%, 0)
			+rbc
		.form__in
			margin: 0 auto
			width: 652px
		.phone
			display: inline-block
			font-size: 30px
			+rbc
		.btn
			margin-top: 35px
	input
		padding: 0 10px
		width: 100%
		font-size: 20px
		height: 54px
		background-color: white
		border: 1px solid #b9b9b9
		+border-radius(4px)
		+box
	.form__row
		font-size: 0
		margin-top: 10px
		&:first-child
			margin-top: 0
	.form__label
		color: grey
		line-height: 1.7
		font-size: 20px
		+rbcb
		display: block
	.form__col
		margin-left: 2%
		display: inline-block
		width: 49%
		&:first-child
			margin-left: 0
	.form__text
		margin-top: 7px
		color: #3e3e3e
		font-size: 15px
		line-height: 18px
		text-align: center
		+rbm

// radiobutton
.radiobutton
	position: relative
	margin-top: 20px
	padding-left: 35px
	font-size: 16px
	line-height: 20px
	cursor: pointer
	+user-select(none)
	+rbcb
	display: block
	input
		position: absolute
		top: 0
		left: 37px
		width: 20px
		height: 20px
		+opacity(0)
		z-index: 2
		&:checked + span
			&:before
				background-color: #931c18
				border: 2px solid #931c18
				+box-shadow(none)
			&:after
				display: block
	span
		position: relative
		padding-left: 35px
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 20px
			height: 20px
			background-color: #f1f1f1
			border: 2px solid #5f646d
			+border-radius(50%)
			+box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.33))
			+box
		&:after
			position: absolute
			content: ''
			top: 6px
			left: 4px
			+s(ico-radio-arr)
			display: none
			
// interview
.interview
	padding: 65px 0 50px
	margin: 35px 0 29px
	border-top: 1px dotted #c7c9cc
	border-bottom: 1px dotted #c7c9cc
	.interview__in
		@extend %in
	.interview__col
		width: 840px
		display: inline-block
		vertical-align: top
		p
			font-size: 13px
	.interview__form
		padding-top: 50px
		.btn
			margin-top: 20px
			width: 642px

// debriefing
.debriefing
	padding: 70px 0
	+clr
	p
		font-size: 14px
	.debriefing__left
		float: left
		padding-left: 42px
		width: 615px
		+box
	.debriefing__img
		float: right
		margin: 15px 112px 0 0
	.title-small
		margin-top: 0
		text-align: left
	.btn
		margin-top: 60px
		width: 559px

// title
.title
	font-size: 36px

.title-small,
.title-red,
.title
	text-align: center
	line-height: 1.2
	text-transform: uppercase
	+rbcb

.title-red
	position: relative
	margin: 30px 106px 50px 0
	padding: 27px 65px 40px 40px
	width: 566px
	text-align: left
	color: #F1F1F1
	letter-spacing: -0.5px
	font-size: 36px
	background-color: #941C19
	+box
	+rbcb
	&:before
		position: absolute
		content: ''
		top: 0
		right: -106px
		bottom: 0
		width: 106px
		background-color: #b96967
	span
		position: absolute
		top: -5px
		right: 33px
		font-size: 91px
		line-height: 10px
		+rbb
		+rotate(180)
	.title-red__small
		font-size: 20px
	.title-red__big
		margin: 5px 0 2px
		color: #fff
		text-align: left
		font-size: 30px

.title-red-img
	margin: 50px 0 48px
	font-size: 0
	.title-red,
	.title-img
		vertical-align: top
		display: inline-block
	.title-red
		margin: 0 106px 0 0

.title-img
	padding: 52px 64px 55px 0
	width: 528px
	min-height: 134px
	text-align: right
	color: white
	text-transform: uppercase
	background: url(../img/title-img-bg.png) no-repeat 50% 50%
	background-size: cover
	+box
	+rbc
	.title-img__top
		font-size: 20px
	.title-img__bottom
		font-size: 24px

// title-small
.title-small
	margin-bottom: 10px
	font-size: 20px
	font-style: normal
	display: block

// title-gray
.title-gray
	position: relative
	padding: 0 10px
	height: 58px
	color: white
	text-align: center
	font-size: 20px
	line-height: 58px
	text-transform: uppercase
	+rbcb
	background: #464b55
	&:before
		position: absolute
		content: ''
		top: 0
		bottom: 0
		left: -10px
		right: -10px
		z-index: 1
		background: #464b55
	&:after
		position: absolute
		content: ''
		top: -10px
		bottom: -10px
		left: -10px
		right: -10px
		background: url(../img/tg-arr-left.png) no-repeat 0 0, url(../img/tg-arr-right.png) no-repeat 100% 0
	span
		position: relative
		display: block
		z-index: 2
	&.title-gray_form
		text-transform: none
		&:before
			top: 0
			left: -27px
			+arr(27, 27, #5f646d, br)
			background: none
		&:after
			top: 0
			left: auto
			right: -27px
			+arr(27 ,27, #5f646d, bl)

// article
.article
	&:first-child
		.ico-block-small
			margin-top: 0
		.article__right
			padding-top: 0
			border: none
	+clr
	h3,
	.title-small
		margin-top: 0
	p
		font-size: 14px
	.article__right
		float: right
		padding: 30px 0 25px
		width: 730px
		border-top: 1px dotted #bdbdbd
	.ico-block-small
		margin-top: 33px
		float: left
	.title-small
		text-align: left
		+rbcb

// leading
.leading
	padding: 25px 0 20px
	text-align: center
	font-style: italic
	border-bottom: 1px dotted #bdbdbd
	&.leading_last
		border: none
	p
		font-size: 14px
	.title-small
		margin: 15px 0 10px
	.leading__text
		margin: 0 auto
		width: 200px
	.photo
		display: inline-block

// nav
.nav-wrap
	padding-top: 50px
	height: 376px
	background: url(../img/nav-bg.png) no-repeat 50% 50%
	background-size: cover
	+box

.nav
	@extend %in
	text-align: center
	font-size: 0
	.nav__item
		margin-left: 10px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	.nav__link
		padding: 40px 40px 0
		height: 283px
		width: 283px
		color: #fff
		+border-radius(50%)
		display: block
		+box
		&:hover
			background-color: rgba(147, 27, 23, 0.7)
			text-decoration: none
	.nav__ico
		height: 136px
		line-height: 136px
		.ico
			vertical-align: middle
			&.ico_flag
				margin-top: -20px
	.title-small
		font-weight: normal

// services
.services
	padding: 70px 0 125px
	background: #f9f8f8
	&.services_mod
		padding: 47px 0 43px
		.services__in
			padding: 0
	.services__in
		padding-top: 65px
		font-size: 0
		text-align: center
		@extend %in
	.services__item
		margin-left: 19px
		width: 283px
		color: #272727
		font-size: 15px
		vertical-align: top
		display: inline-block
		+rbm
		&:hover
			text-decoration: none
			.title-small
				text-decoration: underline
		&:first-child
			margin-left: 0
	.services__img
		margin-bottom: 15px
		height: 283px
		width: 283px
		line-height: 277px
		border: 3px solid #464B55
		+border-radius(50%)
		+box
		.photo
			height: 235px
			width: 235px
			vertical-align: middle
			border: none
			display: inline-block

// tab
.tab
	position: relative
	padding-bottom: 30px
	border-top: 1px solid #b9b9b9
	.tab__list
		position: absolute
		bottom: 100%
		left: 50%
		font-size: 0
		margin-bottom: 1px
		+translate(-50%, 0)
	.tab__item
		display: inline-block
		vertical-align: bottom
		background: #dedede
		&:first-child
			+border-radius(4px 0 0 0)
		&:last-child
			+border-radius(0 4px 0 0)
		&.is-active
			background: none
			.tab__link
				padding-top: 30px
				color: #931B17
				text-transform: uppercase
				background: #fff
				+border-radius(4px 4px 0 0)
				+box-shadow(inset 0 0 0 1px #b9b9b9)
				&:before
					display: block
	.tab__link
		position: relative
		padding: 20px 35px
		min-width: 180px
		color: #808080
		line-height: 1
		text-align: center
		font-size: 28px
		letter-spacing: -1px
		display: block
		+rbcb
		+box
		&:hover
			text-decoration: none
		&:before
			position: absolute
			content: ''
			left: 1px
			right: 1px
			bottom: -1px
			height: 2px
			background: #fff
			z-index: 1
			display: none
	.tab__in
		@extend %in
		font-size: 0
		.event
			margin-left: 40px
			&:first-child
				margin-left: 0
	.tab__cont
		padding: 64px 0 62px
		text-align: center
		display: none
		&.is-active
			display: block

// event
.event
	width: 262px
	font-size: 15px
	+rbm
	color: #272727
	vertical-align: top
	display: inline-block
	.event__img
		padding: 12px
		display: inline-block
		overflow: hidden
		border: 1px solid #bcbcbc
		+border-radius(50%)
	.event__text
		margin: 10px 0
		padding: 0 13px
		+box
	.photo
		overflow: hidden
		height: 235px
		width: 235px
	.date
		padding: 10px 28px 0
		border-top: 1px solid #b9b9b9

// date
.date
	color: #939393
	font-size: 13px
	display: inline-block
	+rbc

// team
.team
	padding: 68px 0
	font-size: 0
	text-align: center
	border-top: 1px solid #b9b9b9
	border-bottom: 1px solid #b9b9b9
	background: url('../img/team-left-bg.png') no-repeat 0 0, url('../img/team-right-bg.png') no-repeat 100% 0, #f3f3f3
	background-size: contain
	.team__in
		padding-top: 38px
		@extend %in
	.team__worker
		padding: 30px 0 15px
		width: 20%
		min-height: 336px
		line-height: 1.2
		color: #272727
		font-size: 15px
		vertical-align: top
		display: inline-block
		+box
		+rbm
		&:hover
			text-decoration: none
			background: #d7d8d8
	.team__text
		width: 190px
		display: inline-block
	.team__coumtry
		font-size: 13px
		+rb
	.photo
		margin-bottom: 10px
		display: inline-block

// partners
.partners
	padding: 66px 0 96px
	.partners__in
		margin: 0 auto
		width: 705px
	.partners__row
		margin-top: 50px
		width: 100%
		display: table
	.partners__item
		height: 80px
		line-height: 80px
		padding-right: 50px
		display: table-cell
	.ico
		vertical-align: middle
		+transition(all 0s linear)


// colors
.colors
	font-size: 0
.colors__red,
.colors__cherry,
.colors__gray,
.colors__light-gray
	height: 78px
	line-height: 78px
	width: 25%
	text-align: center
	vertical-align: top
	display: inline-block
.colors__red
	background: #941c19
.colors__cherry
	background: #792c2d
.colors__gray
	background: #3f444c
.colors__light-gray
	background: #5f646d

.logo-footer
	vertical-align: middle
	display: inline-block
	+s(logo-footer)


// map
.map
	position: relative
	margin-top: 23px
	width: 302px
	height: 211px
	border: 5px solid #2e3032
	+box
	.map__in
		width: 290px
		height: 199px
	.btn
		position: absolute
		left: 50%
		bottom: -19px
		z-index: 100
		+translate(-50%, 0)
		&:active
			top: auto
	.gm-style-cc,
	.gm-style a img
		display: none !important

// bimpost
.bimpost
	background: #31353b
	display: block
	&:hover
		text-decoration: none
	.bimpost__img
		width: 265px
		img
			width: 100%
			display: block
	.bimpost__text
		padding-right: 10px
		text-align: right
		font-size: 28px
		line-height: 38px
		+rbm

.soc
	margin-top: 35px
	font-size: 20px
	text-transform: uppercase
	+rbc
	.soc__item
		margin-left: 15px
		line-height: 30px
		display: inline-block
		&:first-child
			margin-left: 0
	.ico
		margin-bottom: -2px
		&:hover
			+opacity(.8)


// footer
.footer
	padding-top: 35px
	height: 598px
	color: #fff
	background: url('../img/footer-bg.png') repeat-x 50% 50%
	+box
	a
		color: #fff
	.footer__in
		@extend %in
	.footer__row
		margin-top: 30px
		+clr
	.footer__col
		float: left
		width: 302px
		padding-left: 40px
		+box
		&:first-child
			padding-left: 0
		&:last-child
			padding: 10px 20px 0 0
			width: 284px
	.footer__list
		padding-left: 10px
		margin-bottom: 35px
		li
			margin-top: 4px
			&:first-child
				margin-top: 0
			a
				font-size: 15px
			ul
				margin-top: 23px
				li
					margin-top: 11px
				a
					font-size: 17px
					+rbc
	.title-small,
	.phone
		margin-bottom: 16px
		text-align: left
		font-weight: normal
	.phone,
	.mail,
	.address
		margin-left: 26px
	.phone
		margin-bottom: 6px
	.address
		font-style: normal
		margin-top: 5px



// copy
.copy
	margin-top: 15px
	font-size: 13px
	a
		color: #931C18





